.element__like {
    transition: opacity .2s ease-out;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    background-color: #FFFFFF;
    background-image: url(../../../images/element__like.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    position: absolute;
    top: 30px;
    right: 20px;
}

.element__like:hover {
    opacity: .5;
}

.element__like:active {
    background-image: url(../../../images/element__like_active.png);
}