.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px 17px;
    margin: 0px auto;
    padding-top: 51px;
    max-width: calc(100% - (200px*2));
}

@media screen and (max-width: 1100px) {
    .elements {
        max-width: calc(100% - (19px*2));
        padding-top: 36px;
    }
}