.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 0px;
    padding-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1100px) {
    .profile__name {
        padding-right: 10px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}